= simple_form_for item, url: manager_tickets_path, method: :get, as: :message do |f|
  = f.input :query, label: false, placeholder: 'Enter Reference ID', input_html: { name: :query }
  = f.button :submit, 'Search'
