h2 Ticket ##{reference_uuid}
p Department: #{department}
p From: #{customer_name} (#{customer_email})
p Request created at: #{created_at}
h3= subject
p= body
p
hr
= cell('manager/message/cell/new', message_form)
hr
= cell('manager/message/cell/row_item', collection: messages)
